<!-- <header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
  <div class="mobile-fix-option"></div>
  <div class="top-header" *ngIf="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header-contact">
            <ul>
              <li>Welcome to Our store Multikart</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 text-end">
          <ul class="header-dropdown">
            <li class="compare">
              <a [routerLink]="['/shop/compare']"><i class="fa fa-random" aria-hidden="true"></i>Compare</a>
            </li>
            <li class="mobile-wishlist">
              <a [routerLink]="['/shop/wishlist']"><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a>
            </li>
            <li class="onhover-dropdown mobile-account">
              <i class="fa fa-user" aria-hidden="true"></i> My Account
              <ul class="onhover-show-div">
                <li>
                  <a data-lng="en" [routerLink]="['/pages/login']">
                    Login
                  </a>
                </li>
                <li>
                  <a data-lng="es">
                    Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu">
          <div class="menu-left">
            <app-left-menu></app-left-menu>
            <div class="brand-logo">
              <a routerLink="/home/fashion" id="headerlogo">
                <img [src]="themeLogo" class="img-fluid" alt="logo">
              </a>
            </div>
          </div>
          <div class="menu-right pull-right">
            <div>
              <app-menu></app-menu>
            </div>
            <div>
              <app-settings></app-settings>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> -->
<header [ngClass]="class" [class.fixed]="sticky" class="sticky microless-header">

  <!-- <div class="ml-top-header" *ngIf="topbar">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        
        <div class="ml-top-header-left d-flex align-items-center">
          <div class="ml-header-features deliver-to pe-3">
             <span class="deliver-label">Deliver to</span>
             <img src="https://flagcdn.com/w20/it.png" width="16" class="mx-1"> 
             <span class="city-label">Rome</span>
          </div>
          
          <div class="ml-header-features border-start px-3">
            <i class="fa fa-truck fa-flip-horizontal"></i>
            <a href="#">Express Delivery</a>
          </div>
          
          <div class="ml-header-features border-start px-3 d-none d-md-inline">
            <i class="fa fa-repeat"></i>
            <a href="#">Free Returns</a>
          </div>
          
          <div class="ml-header-features border-start px-3 d-none d-lg-inline">
             <i class="fa fa-map-marker"></i>
             <a href="#">Our Location</a>
          </div>
        </div>

        <div class="ml-top-header-right d-flex align-items-center">
           <div class="ml-header-features border-end pe-3">
              <label class="theme-switch">
                <input type="checkbox" id="darkCheck" [checked]="isDarkMode" (change)="onThemeToggle($event)">
                <span class="theme-slider">
                  <i class="fa fa-sun-o"></i>
                  <i class="fa fa-moon-o"></i>
                </span>
              </label>
           </div>

           <div class="dropdown border-end px-2">
              <button class="btn-top-select dropdown-toggle" type="button" data-bs-toggle="dropdown">
                USD
              </button>
              <ul class="dropdown-menu shadow-lg" [class.dropdown-menu-dark]="isDarkMode">
                <li><a class="dropdown-item active">USD - USA Dollars</a></li>
                <li><a class="dropdown-item">EUR - Eurozone Euro</a></li>
              </ul>
           </div>

           <div class="dropdown ps-2">
              <button class="btn-top-select dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <i class="fa fa-globe"></i> English
              </button>
              <ul class="dropdown-menu shadow-lg" [class.dropdown-menu-dark]="isDarkMode">
                <li><a class="dropdown-item">English</a></li>
                <li><a class="dropdown-item">العربية</a></li>
              </ul>
           </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="ml-top-header" *ngIf="topbar">
    <div class="container-fluid">
      <div class="ml-top-utilities">
        <div class="ml-utility-toggle">
          <label class="ml-theme-switch" for="headerDarkCheck" aria-label="Toggle dark mode">
            <input type="checkbox"
                   id="headerDarkCheck"
                   class="ml-theme-switch__input"
                   [checked]="isDarkMode"
                   (change)="onThemeToggle($event)">
            <span class="ml-theme-switch__track">
              <i class="fa fa-sun-o"></i>
              <i class="fa fa-moon-o"></i>
            </span>
          </label>
        </div>

        <span class="ml-utility-meta" *ngIf="currencyLabel" title="Store currency">
          <i class="fa fa-money" aria-hidden="true"></i>
          {{ currencyLabel }}
        </span>

        <span class="ml-utility-meta" title="Store language">
          <i class="fa fa-globe" aria-hidden="true"></i>
          English
        </span>
      </div>
    </div>
  </div>

  <div class="main-header-microless">
    <div class="container-fluid">
      <div class="row align-items-center gx-0">
        <div class="col-auto">
          <div class="brand-logo py-2">
            <a [routerLink]="['/home/fashion']" class="text-decoration-none brand-logo-link">
              <img
                *ngIf="storeLogoUrl"
                [src]="storeLogoUrl"
                [alt]="storeName"
                class="store-logo-img"
              />
              <span *ngIf="!storeLogoUrl" class="logo-main">{{ storeName }}</span>
            </a>
          </div>
        </div>

        <div class="col px-lg-5">
          <div class="header-search search-wrapper d-flex position-relative">
            <input
              type="text"
              class="form-control"
              placeholder="What are you looking for?"
              [(ngModel)]="searchText"
              (input)="onSearchInput()"
              (keydown)="onSearchKeydown($event)"
              autocomplete="off"
              aria-label="Search products and categories"
            />
            <button type="button" class="btn btn-warning header-search-submit" (click)="submitSearch()" aria-label="Search">
              <i class="fa fa-search"></i>
            </button>

            <div
              class="header-search-dropdown"
              [class.header-search-dropdown--dark]="isDarkMode"
              *ngIf="searchDropdownOpen && searchText.trim().length >= 2"
            >
              <div class="header-search-dropdown__loading" *ngIf="searchLoading">Searching…</div>

              <ng-container *ngIf="!searchLoading">
                <div class="header-search-dropdown__empty" *ngIf="!hasSearchResults">
                  No results found
                </div>

                <div class="header-search-dropdown__section" *ngIf="searchSuggestions.products.length">
                  <div class="header-search-dropdown__title">Products</div>
                  <div
                    class="header-search-dropdown__product-row"
                    *ngFor="let item of searchSuggestions.products"
                  >
                    <button
                      type="button"
                      class="header-search-dropdown__item header-search-dropdown__item-main"
                      (click)="selectProductSuggestion(item)"
                    >
                      <span class="header-search-dropdown__item-inner">
                        <img [src]="resolveSuggestionImage(item.imageUrl)" [alt]="item.name" class="header-search-dropdown__thumb" />
                        <span class="header-search-dropdown__body">
                          <span class="header-search-dropdown__name" [title]="item.name">{{ item.name }}</span>
                          <span class="header-search-dropdown__desc" *ngIf="item.description" [title]="item.description">
                            {{ item.description }}
                          </span>
                          <span class="header-search-dropdown__meta">
                            <span *ngIf="item.categoryName">{{ item.categoryName }}</span>
                            <span *ngIf="item.categoryName && formatSuggestionPrice(item.price)"> · </span>
                            <span *ngIf="formatSuggestionPrice(item.price)" class="header-search-dropdown__price">
                              {{ formatSuggestionPrice(item.price) }}
                            </span>
                          </span>
                        </span>
                      </span>
                    </button>
                    <div class="header-search-dropdown__actions">
                      <button
                        type="button"
                        class="header-search-dropdown__related-btn"
                        title="Show related products"
                        [attr.aria-label]="'Related products for ' + item.name"
                        (click)="openRelatedProducts(item, $event)"
                      >
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                        <span class="header-search-dropdown__related-btn-label">Related</span>
                      </button>
                      <button
                        type="button"
                        class="header-search-dropdown__cart-btn"
                        [class.header-search-dropdown__cart-btn--disabled]="isSuggestionOutOfStock(item)"
                        [class.header-search-dropdown__cart-btn--added]="isSuggestionJustAdded(item)"
                        [class.header-search-dropdown__cart-btn--max]="hasSuggestionReachedStockLimit(item)"
                        [attr.aria-label]="getSuggestionCartBtnLabel(item) + ' ' + item.name"
                        (click)="addSuggestionToCart(item, $event)"
                      >
                        <i class="fa"
                           [ngClass]="isSuggestionJustAdded(item) ? 'fa-check' : (hasSuggestionReachedStockLimit(item) ? 'fa-exclamation-circle' : 'fa-shopping-cart')"
                           aria-hidden="true"></i>
                        <span class="header-search-dropdown__cart-btn-label">{{ getSuggestionCartBtnLabel(item) }}</span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="header-search-dropdown__section" *ngIf="searchSuggestions.categories.length">
                  <div class="header-search-dropdown__title">Categories</div>
                  <button
                    type="button"
                    class="header-search-dropdown__item"
                    *ngFor="let item of searchSuggestions.categories"
                    (click)="selectCategorySuggestion(item)"
                  >
                    <span class="header-search-dropdown__item-inner">
                      <span class="header-search-dropdown__icon"><i class="fa fa-folder-open-o"></i></span>
                      <span class="header-search-dropdown__body">
                        <span class="header-search-dropdown__name" [title]="resolveCategoryDisplayName(item)">
                          {{ resolveCategoryDisplayName(item) }}
                        </span>
                        <span class="header-search-dropdown__meta" *ngIf="resolveCategoryMeta(item) as meta">
                          {{ meta }}
                        </span>
                      </span>
                    </span>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="d-flex align-items-center action-icons">
            <div class="dropdown px-3 text-center border-end border-secondary-subtle">
              <a class="text-decoration-none dropdown-toggle no-caret header-action-link" data-bs-toggle="dropdown">
                <span *ngIf="isLoggedIn" class="account-initials">{{ userInitials }}</span>
                <i *ngIf="!isLoggedIn" class="fa fa-user-o fs-5"></i>
                <span class="d-block label">YOUR ACCOUNT</span>
              </a>
              <ul class="dropdown-menu shadow-lg" [class.dropdown-menu-dark]="isDarkMode">
                <ng-container *ngIf="!isLoggedIn">
                  <li><a class="dropdown-item" [routerLink]="['/pages/login']">Log In</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/pages/register']">Sign Up</a></li>
                </ng-container>
                <ng-container *ngIf="isLoggedIn">
                  <li><a class="dropdown-item" [routerLink]="['/pages/my-orders']">My Orders</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button type="button" class="dropdown-item" (click)="logout()">Log Out</button></li>
                </ng-container>
              </ul>
            </div>

            <div  [routerLink]="['/shop/wishlist']" class="px-3 text-center border-end border-secondary-subtle pointer">
              <i class="fa fa-heart-o fs-5 header-action-icon"></i>
              <span class="d-block label header-action-label">WISHLIST</span>
            </div>

            <div
              *ngIf="isLoggedIn"
              class="px-3 text-center border-end border-secondary-subtle header-notifications"
              ngbDropdown
              placement="bottom-end">
              <div class="badge-top-container position-relative">
                <span
                  *ngIf="signalRService.unreadCount > 0"
                  class="badge p-0 position-absolute bg-danger rounded-circle header-notify-badge">
                  {{ signalRService.unreadCount > 99 ? '99+' : signalRService.unreadCount }}
                </span>
                <i ngbDropdownToggle class="fa fa-bell-o fs-5 header-action-icon" role="button" tabindex="0"></i>
                <span class="d-block label header-action-label">ALERTS</span>
              </div>
              <div ngbDropdownMenu class="notification-dropdown shadow-lg">
                <div class="notification-dropdown-header">
                  <span class="notification-dropdown-title">Alerts</span>
                  <span
                    *ngIf="signalRService.unreadCount > 0"
                    class="notification-dropdown-count">
                    {{ signalRService.unreadCount }} new
                  </span>
                </div>
                <div class="notification-dropdown-body">
                  <div class="notification-empty" *ngIf="!signalRService.signalrNotifications.length">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <span>No new notifications</span>
                  </div>
                  <div
                    class="notification-item"
                    *ngFor="let item of signalRService.signalrNotifications"
                    (click)="readNotification(item)"
                    [class.notification-item--unread]="!item.isRead">
                    <div class="notification-icon">
                      <i class="fa {{ item.icon }} notification-icon-symbol notification-icon-symbol--{{ item.status }}" aria-hidden="true"></i>
                    </div>
                    <div class="notification-details">
                      <div class="notification-meta">
                        <span class="notification-title">{{ item.title }}</span>
                        <span class="notification-time">{{ item.time | relativeTime }}</span>
                      </div>
                      <p class="notification-text">{{ item.text }}</p>
                      <span
                        *ngIf="item.badge"
                        class="notification-status notification-status--{{ item.status }}">
                        {{ item.badge }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <a class="px-3 text-center header-cart-link text-decoration-none" [routerLink]="['/shop/cart']"
              aria-label="View shopping cart">
              <span class="header-cart-icon-wrap">
                <i class="fa fa-shopping-cart fs-5 header-action-icon" aria-hidden="true"></i>
                <ng-container *ngIf="cartCount$ | async as count">
                  <span class="header-cart-badge" *ngIf="count > 0">{{ count > 99 ? '99+' : count }}</span>
                </ng-container>
              </span>
              <span class="d-block label header-action-label">YOUR CART</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-warning navigation-bar">
    <div class="container-fluid d-flex align-items-center h-100" >
      <div class="all-cat-wrapper" (mouseenter)="openMenu()" (mouseleave)="closeMenu()">
        <div class="all-cat-btn px-4 h-100 d-flex align-items-center border-end border-dark">
        <i class="fa fa-bars me-2"></i> ALL CATEGORIES
      </div>

      <!-- paanel code  -->
      <!-- paanel code  -->

      <!-- Dropdown Panel -->
      <div class="all-cat-dropdown" [class.open]="isOpen">

        <!-- Left: Main category list -->
        <ul class="cat-main-list">
          <li *ngFor="let cat of categories" (mouseenter)="setActive(cat)" [class.active]="activeCat?.id === cat.id">
            <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: cat.id }"
              class="cat-main-link">
              {{ cat.title }}
              <i class="fa fa-angle-right ms-auto" *ngIf="cat.children?.length"></i>
            </a>
          </li>
        </ul>

        <!-- Right: Sub-categories panel -->
        <div class="cat-sub-panel" *ngIf="activeCat?.children?.length">
          <ul class="cat-sub-list">
            <li *ngFor="let child of activeCat.children">
              <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: child.id }"
                class="cat-sub-link">
                {{ child.title }}
              </a>
            </li>
          </ul>
        </div>

      </div>

      <!-- paanel code  -->
      <!-- paanel code  -->
      </div>
      
      <div class="flex-grow-1 ps-2">
        <app-menu></app-menu>
      </div>

      <a [routerLink]="['/pages/my-orders']" class="nav-orders-link ms-auto px-4 text-dark fw-bold text-decoration-none d-flex align-items-center">
        <i class="fa fa-list-alt me-2" aria-hidden="true"></i>
        ORDERS
      </a>
    </div>
  </div>
</header>
<div class="microless-header-spacer" *ngIf="sticky" aria-hidden="true"></div>