<app-breadcrumb [title]="'Cart'" [breadcrumb]="'Cart'"></app-breadcrumb>
<!-- section start -->
<!-- <section class="cart-section section-b-space">
    <div class="container">
        <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!products.length">
        <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
        <h3><strong>Your Cart is Empty</strong></h3>
        <h4>Add something to make me happy :)</h4>
        </div>
        <div class="row" *ngIf="products.length">
        <div class="col-sm-12">
            <table class="table cart-table table-responsive-xs">
                <thead>
                    <tr class="table-head">
                        <th scope="col">image</th>
                        <th scope="col">product name</th>
                        <th scope="col">price</th>
                        <th scope="col">quantity</th>
                        <th scope="col">action</th>
                        <th scope="col">total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let product of products">
                    <tr>
                        <td>
                            <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]">
                                <img [src]="product.images[0].src" [alt]="product.images[0].alt">
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]">{{ product.title | titlecase }}</a>
                            <div class="mobile-cart-content row">
                                <div class="col">
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="text" name="quantity" class="form-control input-number" disabled [(ngModel)]="product.quantity">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <h2 class="td-color">
                                        {{ (product.price | discount:product) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                    </h2>
                                </div>
                                <div class="col">
                                    <h2 class="td-color">
                                        <a (click)="removeItem(product)" class="icon">
                                            <i class="ti-close"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h2>
                                {{ (product.price | discount:product) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                            </h2>
                        </td>
                        <td>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus" (click)="decrement(product)">
                                            <i class="ti-angle-left"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quantity" class="form-control input-number" disabled [(ngModel)]="product.quantity">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-right-plus"  data-type="plus" (click)="increment(product)">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="javascript:void(0)" (click)="removeItem(product)" class="icon">
                            <i class="ti-close"></i>
                        </a>
                        </td>
                        <td>
                            <h2 class="td-color">
                                {{ ((product.price | discount:product) * product.quantity) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                            </h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table cart-table table-responsive-md">
                <tfoot>
                    <tr>
                        <td>total price :</td>
                        <td>
                            <h2> {{ getTotal | async | currency:productService?.Currency.currency:'symbol'}}</h2>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>
        <div class="row cart-buttons" *ngIf='products.length'>
            <div class="col-6">
                <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
            </div>
            <div class="col-6">
                <a [routerLink]="['/shop/checkout']" class="btn btn-solid">check out</a>
            </div>
        </div>
    </div>
</section> -->


<section class="cart-section section-b-space">
    <div class="container">
        <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!products.length">
            <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something to make me happy :)</h4>
        </div>
        <div class="row" *ngIf="products.length">
            <div class="col-12" *ngFor="let product of products">
                <div class="cart-item p-3 mb-3">
                    <div class="row g-3 align-items-start">

                        <!-- Image -->
                        <div class="col-auto cell-thumbnail">
                            <a [routerLink]="['/shop/product/left/sidebar', product.id]" [state]="{ product }">
                                <img [src]="product?.images?.[0]?.src || 'assets/images/product/placeholder.jpg'"
                                    [alt]="product?.images?.[0]?.alt || product?.title"
                                    class="cart-img" />
                            </a>
                        </div>

                        <!-- Middle Content -->
                        <div class="col">

                            <!-- Title -->
                            <a [routerLink]="['/shop/product/left/sidebar', product.id]"
                               [state]="{ product }"
                               class="cart-title d-block mb-2">
                                {{ product?.title }}
                            </a>
                            <br>
                            <!-- Sold by -->
                            <p class="mb-1  text-secondary">
                                Sold by: <a href="#" class="text-white">Microless</a>
                            </p>

                            <!-- Delivery -->
                            <p class="mb-1  ">
                                <strong class="text-white">Free</strong> delivery by
                                <span class="text-success fw-semibold">Tomorrow, May 01</span>
                            </p>
                            <p class="mb-1  ">If you order within 1 Hour, 19 Minutes</p>
                            <br>
                            <!-- Warranty -->
                            <!-- <p class="mb-2 small text-secondary">
                                <i class="fa fa-shield me-1"></i>
                                <strong class="text-white">1 Year Warranty</strong>
                            </p> -->

                            <!-- Divider -->
                            <!-- <hr class="border-secondary my-2" /> -->

                            <!-- Actions -->
                            <div class="d-flex align-items-center gap-3">
                                <a href="javascript:void(0)" class="text-decoration-none" (click)="addToWishlist(product)">
                                    <i class="fa fa-heart-o me-1"></i> Add To Wishlist
                                </a>
                                <span class="text-secondary">|</span>
                                <a href="javascript:void(0)" (click)="removeItem(product)"
                                    class="  text-decoration-none">
                                    <i class="fa fa-trash-o me-1"></i> Remove
                                </a>
                            </div>

                        </div>

                        <!-- Price + Quantity -->
                        <div class="col-auto text-end cart-price-box p-3">

                            <!-- Prices -->
                            <div class="mb-3">
                                <div class="text-white fw-bold" style="font-size:18px;">
                                  {{ (product.price | discount:product) * (productService?.Currency?.price ?? 1) | currency:productService?.Currency.currency:'symbol' }}</div>
                                <div class="text-secondary text-decoration-line-through small"
                                    *ngIf="product?.discount > 0"> {{ product.price * (productService?.Currency?.price ?? 1) |
                                    currency:productService?.Currency.currency:'symbol' }}</div>
                            </div>

                            <!-- Quantity -->
                            <div class="qty-box d-flex align-items-center justify-content-end gap-2">
                                <span class="small text-secondary">Quantity</span>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus"
                                            (click)="decrement(product)">
                                            <i class="ti-angle-left"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quantity" class="form-control input-number" disabled
                                        [(ngModel)]="product.quantity">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-right-plus" data-type="plus"
                                            (click)="increment(product)">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end g-2">
                <h3>Total price :</h3>
                <!-- <td> -->
                <h3> {{ getTotal | async | currency:productService?.Currency.currency:'symbol'}}</h3>
                <!-- </td> -->
            </div>
        </div>


        <div class="row cart-buttons" *ngIf='products.length'>
            <div class=" p-3 d-flex align-items-center justify-content-end gap-3">


                <!-- Coupon Toggle -->
                <!-- Coupon Toggle -->
                <div class="cart-summary-box mb-3">
                    <a class="text-secondary text-decoration-none d-flex align-items-center gap-1 coupon-toggle"
                        data-bs-toggle="collapse" href="#couponCollapse" role="button" aria-expanded="false">
                        <i class="fa fa-chevron-down coupon-arrow"></i>
                        <strong class="text-white">Enter a gift card or promotional code</strong>
                    </a>

                    <div class="collapse coupon-collapse mt-2" id="couponCollapse">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm bg-dark text-white border-secondary"
                                placeholder="Enter code" />
                            <button class="btn btn-primary btn-sm px-3">Apply</button>
                        </div>
                    </div>
                </div>


            </div>
            <hr class="border-secondary my-2" />
            <div class="col-6">
                <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
            </div>
            <div class="col-6">
                <a href="javascript:void(0)" class="btn btn-solid" (click)="goToCheckout()"><i class="fa fa-lock me-1"></i> check out</a>
            </div>
        </div>


    </div>
</section>
<!--section end-->