<div class="collection-collapse-block" [class.open]="collapse" *ngIf="displaySizes.length">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Size</h3>
    <div class="collection-collapse-block-content">
      <div class="color-selector">
        <div class="collection-brand-filter">
          <div class="custom-control custom-checkbox collection-filter-checkbox"
            *ngFor="let s of displaySizes; let i = index">
            <input type="checkbox"
              [value]="s.value"
              [checked]="checked(s.value)"
              [id]="'shop-size-' + i"
              (change)="appliedFilter($event)"
              class="custom-control-input" />
            <label class="custom-control-label" [attr.for]="'shop-size-' + i">{{ s.label }}</label>
          </div>
        </div>
      </div>
    </div>
</div>
