.home-hero-slider.container {
  max-width: 100% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.cat-item {
  display: block;
  overflow: hidden;
//   border-radius: 6px;
  text-decoration: none;

  img {
    width: 100%;
    transition: .2s cubic-bezier(.4, 0, .2, 1);
    transition-property: filter;

    &:hover {
      filter: brightness(.75);
    }
  }
}
