<ng-template class="theme-modal" #quickView let-modal>
    <div class="modal-content quick-view-modal">
        <div class="modal-body">
            <button type="button" class="close float-end border-0" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-lg-6 col-xs-12 product-image-gallery">
                    <div class="gallery-main"
                         (touchstart)="onGalleryTouchStart($event)"
                         (touchend)="onGalleryTouchEnd($event)">
                        <button type="button" class="gallery-nav prev" *ngIf="hasMultipleImages" (click)="prevImage()" aria-label="Previous image">
                            <i class="ti-angle-left"></i>
                        </button>
                        <div class="gallery-zoom-stage"
                             (mousemove)="onZoomMove($event)"
                             (mouseleave)="onZoomLeave()">
                            <img [src]="selectedImage"
                                 [alt]="product?.title"
                                 class="gallery-main-img"
                                 [class.is-zoomed]="zoomActive"
                                 [style.transform-origin]="zoomOrigin"
                                 (error)="onImageError($event)">
                        </div>
                        <button type="button" class="gallery-nav next" *ngIf="hasMultipleImages" (click)="nextImage()" aria-label="Next image">
                            <i class="ti-angle-right"></i>
                        </button>
                    </div>
                    <div class="gallery-thumbs" *ngIf="hasMultipleImages">
                        <button type="button"
                                class="gallery-thumb-btn"
                                *ngFor="let image of productImages; index as i"
                                [class.active]="selectedIndex === i"
                                (click)="selectThumbnail(i)"
                                [attr.aria-label]="'Show image ' + (i + 1)">
                            <img [src]="image" [alt]="product?.title" (error)="onImageError($event)">
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>{{ product?.title | titlecase }}</h2>
                        <h3>{{ (product?.price | discount:product) * (currency?.price ?? 1) | currency:currency?.currency:'symbol' }}
                            <del *ngIf="product?.discount"><span class="money">{{ product?.price * (currency?.price ?? 1) | currency:currency?.currency:'symbol' }}</span></del>
                        </h3>
                        <div class="border-product">
                            <h6 class="product-title">product details</h6>
                            <p>{{ (product?.description || 'No description available.').toString().substring(0, 200) }}{{ (product?.description || '').toString().length > 200 ? '...' : '' }}</p>
                        </div>
                        <div class="product-description border-product">
                            <h5 class="avalibility" *ngIf="counter <= (product?.stock ?? 0)"><span>In Stock</span></h5>
                            <h5 class="avalibility" *ngIf="counter > (product?.stock ?? 0)"><span>Out of Stock</span></h5>
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus" (click)="decrement()">
                                            <i class="ti-angle-left"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quantity" class="form-control input-number" [value]="counter" disabled>
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-right-plus" data-type="plus" (click)="increment()">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons quick-view-actions">
                            <a href="javascript:void(0)" class="btn btn-solid" [class.disabled]="counter > (product?.stock ?? 0)" (click)="addToCart(product)">add to cart</a>
                            <a href="javascript:void(0)" class="btn btn-solid" [class.disabled]="counter > (product?.stock ?? 0)" (click)="buyNow(product)">buy now</a>
                            <a href="javascript:void(0)" class="btn btn-solid" (click)="goProductDetail($event)">view detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
