<!-- price filter start here -->
<!-- <div class="collection-collapse-block border-0" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">price</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <div class="mt-2">
                <ngx-slider 
                    [(value)]="min" 
                    [(highValue)]="max" 
                    [options]="options" 
                    (userChangeEnd)="appliedFilter($event)"
                    *ngIf="isBrowser">
                </ngx-slider>
            </div>
        </div>
    </div>
</div> -->

<div class="collection-collapse-block border-0" [class.open]="collapse">
  <h3 class="collapse-block-title" (click)="collapse = !collapse">{{ priceFilterLabel }}</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">

      <div class="price-range-row">
        <input
          type="number"
          class="price-input"
          [(ngModel)]="localMin"
          (ngModelChange)="onPriceInputChange()"
          [min]="options.floor"
          [max]="options.ceil"
        />
        <span class="price-range-separator">to</span>
        <input
          type="number"
          class="price-input"
          [(ngModel)]="localMax"
          (ngModelChange)="onPriceInputChange()"
          [min]="options.floor"
          [max]="options.ceil"
        />
      </div>

      <!-- Slider -->
      <!-- <ngx-slider
        [(value)]="min"
        [(highValue)]="max"
        [options]="options"
        (userChangeEnd)="appliedFilter($event)"
        *ngIf="isBrowser">
      </ngx-slider> -->

    </div>
  </div>
</div>