<div class="collection-collapse-block" [class.open]="collapse" *ngIf="displayColorList.length || loading">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Colors</h3>
    <div class="collection-collapse-block-content">
      <div class="collection-brand-filter color-filter">
        <div class="custom-control custom-checkbox collection-filter-checkbox"
          *ngFor="let c of displayColorList; let i = index">
          <input
            type="checkbox"
            class="custom-control-input"
            [id]="'shop-color-' + i"
            [value]="c.value"
            [checked]="c.checked"
            (click)="toggleColor(c.value, $event)" />
          <span [class]="c.label" [ngStyle]="{'background-color': c.label}"></span>
          <label class="custom-control-label" [attr.for]="'shop-color-' + i">{{ c.label }}</label>
        </div>
      </div>
    </div>
</div>
