<div class="brand-logo-grid" [attr.data-count]="logos?.length || 0">
  <div
    class="product-image"
    *ngFor="let logo of logos"
    [class.product-image--text]="isPlaceholderImage(logo.image)">
    <a *ngIf="logo.id; else staticLogoLink"
      [routerLink]="['/shop']"
      [queryParams]="{ brand: logo.id }"
      class="brand-logo-link">
      <ng-container *ngIf="!isPlaceholderImage(logo.image); else brandFallback">
        <div class="brand-logo-media img-frame--brand">
          <img [src]="logo.image" [alt]="logo.name || 'brand'" loading="lazy" decoding="async" />
        </div>
      </ng-container>
      <ng-template #brandFallback>
        <span class="brand-logo-fallback img-frame--brand-fallback">{{ logo.name }}</span>
      </ng-template>
    </a>
    <ng-template #staticLogoLink>
      <a [routerLink]="['/shop']" class="brand-logo-link">
        <ng-container *ngIf="!isPlaceholderImage(logo.image); else staticFallback">
          <div class="brand-logo-media img-frame--brand">
            <img [src]="logo.image" [alt]="logo.name || 'logo'" loading="lazy" decoding="async" />
          </div>
        </ng-container>
        <ng-template #staticFallback>
          <span class="brand-logo-fallback img-frame--brand-fallback">{{ logo.name }}</span>
        </ng-template>
      </a>
    </ng-template>
  </div>
</div>
