<owl-carousel-o [options]="LogoSliderConfig" class="no-arrow">
  <ng-container *ngFor="let logo of logos">
    <ng-template carouselSlide>
      <div class="product-image">
        <a *ngIf="logo.id; else staticLogoLink"
          [routerLink]="['/shop/collection/left/sidebar']"
          [queryParams]="{ brand: logo.id }"
          class="brand-logo-link">
          <ng-container *ngIf="!isPlaceholderImage(logo.image); else brandFallback">
            <div class="brand-logo-media">
              <img [src]="logo.image" [alt]="logo.name || 'brand'" />
              <span *ngIf="logo.name" class="brand-logo-overlay">
                <span class="brand-logo-overlay__text">{{ logo.name }}</span>
              </span>
            </div>
          </ng-container>
          <ng-template #brandFallback>
            <span class="brand-logo-fallback">{{ logo.name }}</span>
          </ng-template>
        </a>
        <ng-template #staticLogoLink>
          <a [routerLink]="'/home/fashion'" class="brand-logo-link">
            <div class="brand-logo-media">
              <img [src]="logo.image" [alt]="logo.name || 'logo'" />
              <span *ngIf="logo.name" class="brand-logo-overlay">
                <span class="brand-logo-overlay__text">{{ logo.name }}</span>
              </span>
            </div>
          </a>
        </ng-template>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
