<!--footer section -->
<!-- <footer [class]="class">
  <div class="light-layout" *ngIf="newsletter">
    <div class="container">
      <section class="-section border-section border-top-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="subscribe">
              <div>
                <h4>KNOW IT ALL FIRST!</h4>
                <p>Never Miss Anything From Multikart By Signing Up To Our Newsletter. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form class="form-inline subscribe-form"
              action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda"
              target="_blank" method="post">
              <div class="form-group mx-sm-3">
                <input type="email" #name name="EMAIL" id="mce-EMAIL" class="form-control"
                  placeholder="Enter your email">
              </div>
              <button type="submit" class="btn btn-solid">subscribe</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
  <section class="section-b-space light-layout">
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-lg-4 col-md-6">
          <div class="footer-title">
            <h4>about</h4>
          </div>
          <div class="footer-contant">
            <div class="footer-logo">
              <img [src]="themeLogo" alt="logo">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, </p>
            <div class="footer-social">
              <ul>
                <li>
                  <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="javascript:void(0)"><i class="fa fa-rss" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col offset-xl-1">
          <div class="sub-title">
            <div class="footer-title">
              <h4>Categories</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="javascript:void(0)">Womens Fashion</a></li>
                <li><a href="javascript:void(0)">Mens Fashion</a></li>
                <li><a href="javascript:void(0)">Kids Fashion</a></li>
                <li><a href="javascript:void(0)">Featured</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4>why we choose</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="javascript:void(0)">shipping & return</a></li>
                <li><a href="javascript:void(0)">secure shopping</a></li>
                <li><a href="javascript:void(0)">gallary</a></li>
                <li><a href="javascript:void(0)">affiliates</a></li>
                <li><a href="javascript:void(0)">contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4>store information</h4>
            </div>
            <div class="footer-contant">
              <ul class="contact-list">
                <li><i class="fa fa-map-marker"></i>Multikart Demo Store, Demo store
                  India 345-659</li>
                <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
                <li><i class="fa fa-envelope-o"></i>Email Us: <a>Support&#64;Fiot.com</a></li>
                <li><i class="fa fa-fax"></i>Fax: 123456</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="footer-end">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> {{ today | date:'y'}} theme forest powered by
              pixelstrap</p>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="payment-card-bottom">
            <ul>
              <li>
                <a><img src="assets/images/icon/visa.png" alt=""></a>
              </li>
              <li>
                <a><img src="assets/images/icon/mastercard.png" alt=""></a>
              </li>
              <li>
                <a><img src="assets/images/icon/paypal.png" alt=""></a>
              </li>
              <li>
                <a><img src="assets/images/icon/american-express.png" alt=""></a>
              </li>
              <li>
                <a><img src="assets/images/icon/discover.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<!--footer section end -->


<footer [class]="class">
  <div class=" cta-footer py-4 border-bottom border-secondary">
    <div class="container">
      <div class="row text-center footer-theme cta-row">
        <div class="col-md-4  border-secondary">
          <div class="d-flex align-items-center justify-content-center gap-3">
            <i class="fa fa-phone fs-3"></i>
            <div class="text-start">
              <span class="d-block small text-secondary">CALL US</span>
              <h5 class="mb-0 fw-bold">+971 4 262 3337</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 border-secondary">
          <div class="d-flex align-items-center justify-content-center gap-3">
            <i class="fa fa-envelope-o fs-3"></i>
            <div class="text-start">
              <span class="d-block small text-secondary">EMAIL SUPPORT</span>
              <h5 class="mb-0">support&#64;microless.com</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex align-items-center justify-content-center gap-3">
            <i class="fa fa-map-marker fs-3"></i>
            <div class="text-start">
              <span class="d-block small text-secondary">OUR LOCATION</span>
              <h5 class="mb-0">Al Quoz Ind 1, Dubai</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section-b-space light-layout">
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-lg-3 col-md-6">
          <div class="sub-title">
            <div class="footer-title">
              <h4>ABOUT US</h4>
            </div>
            <div class="footer-contant">
              <p>Microless, established in 2011 in the UAE, is an online store for electronics, computer components, and
                a wide range of products for home and office.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="sub-title">
            <div class="footer-title">
              <h4>POPULAR SEARCHES</h4>
            </div>
            <div class="footer-contant">
              <div class="d-flex flex-wrap gap-1 popular-tags">
                <a class="badge bg-dark " href="javascript:void(0)">rtx 5070</a>
                <a class="badge bg-dark " href="javascript:void(0)">iphone 17 pro</a>
                <a class="badge bg-dark " href="javascript:void(0)">gaming laptop</a>
                <a class="badge bg-dark " href="javascript:void(0)">macbook pro</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="sub-title">
            <div class="footer-title">
              <h4>QUICK LINKS</h4>
            </div>
            <div class="footer-contant">
              <ul class="list-unstyled" *ngIf="footerPages.length; else staticQuickLinks">
                <li *ngFor="let page of footerPages">
                  <a [routerLink]="pageLink(page.slug)">{{ page.title }}</a>
                </li>
              </ul>
              <ng-template #staticQuickLinks>
                <ul class="list-unstyled">
                  <li><a href="javascript:void(0)">Contact Us</a></li>
                  <li><a href="javascript:void(0)">About Us</a></li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="sub-title">
            <div class="footer-title">
              <h4>GET THE APP</h4>
            </div>
            <div class="footer-contant">
              <div class="app-buttons mb-3">
                <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                  class="mb-2 d-block" width="110">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                  class="d-block" width="110">
              </div>
              <div class="subscribe-block">
                <div class="input-group input-group-sm">
                  <input type="email" class="form-control" placeholder="Subscribe...">
                  <button class="btn btn-solid btn-sm">GO</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="footer-payment-social-row py-1 light-layout">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="payment-options-logos d-flex gap-2">
          <img src="https://global.microless.com/assets/img/payment-methods/visa-dark.svg" alt="visa" width="53">
          <img src="https://global.microless.com/assets/img/payment-methods/mastercard-dark.svg" alt="mastercard"
            width="53">
          <img src="https://global.microless.com/assets/img/payment-methods/paypal.svg" alt="paypal" width="53">
          <img src="https://global.microless.com/assets/img/payment-methods/crypto.svg" alt="crypto" width="53">
        </div>

        <div class="social-connect d-flex align-items-center flex-column ">
          <h5 >Connect With Us:</h5>
          <ul class="social-list d-flex list-unstyled mb-0 gap-2">
            <li><a href="#" class="social-circle"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" class="social-circle"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="social-circle">
                <img src="https://uae.microless.com/cdn/microless-tiktok.png"
                  style="width:14px; vertical-align: middle;">
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-footer py-3 border-top border-warning border-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <p class="mb-0 small">© 2011 - {{ today | date:'y' }} microless.com, All Rights Reserved.</p>
        </div>
        <div class="col-md-6 text-end">
          <ul class="list-inline mb-0 small" *ngIf="footerPages.length; else staticSubFooter">
            <ng-container *ngFor="let page of footerPages; let last = last">
              <li class="list-inline-item">
                <a [routerLink]="pageLink(page.slug)">{{ page.title }}</a>
              </li>
              <li class="list-inline-item" *ngIf="!last">|</li>
            </ng-container>
          </ul>
          <ng-template #staticSubFooter>
            <ul class="list-inline mb-0 small">
              <li class="list-inline-item"><a href="javascript:void(0)">Privacy Policy</a></li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item"><a href="javascript:void(0)">Terms & Conditions</a></li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</footer>