<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>My Profile</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="fname">First Name <span class="required-mark">*</span></label>
                                <input type="text" class="form-control" id="fname" formControlName="firstName"
                                       placeholder="First Name"
                                       [class.is-invalid]="touchedInvalid('firstName')">
                                <small class="field-error" *ngIf="touchedInvalid('firstName')">First name is required.</small>
                            </div>
                            <div class="col-md-6">
                                <label for="lname">Last Name <span class="required-mark">*</span></label>
                                <input type="text" class="form-control" id="lname" formControlName="lastName"
                                       placeholder="Last Name"
                                       [class.is-invalid]="touchedInvalid('lastName')">
                                <small class="field-error" *ngIf="touchedInvalid('lastName')">Last name is required.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" formControlName="email">
                                <small class="field-hint">Email is used to sign in and cannot be changed here.</small>
                            </div>
                            <div class="col-md-6">
                                <label for="phone">Phone / WhatsApp</label>
                                <input type="text" class="form-control" id="phone" formControlName="phone"
                                       placeholder="+92XXXXXXXXXX">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="address">Address <span class="required-mark">*</span></label>
                                <div class="address-autocomplete-wrap">
                                    <input type="text" class="form-control" id="address" formControlName="address"
                                           placeholder="Street address" autocomplete="off"
                                           [class.is-invalid]="touchedInvalid('address')"
                                           (keydown)="handleKeyDown($event, 'address')"
                                           (blur)="onAutocompleteBlur('address', $event)">
                                    <ul class="google-address-suggestions"
                                        *ngIf="activeAutocompleteField === 'address' && (googleAddressService.suggestions$ | async)?.length">
                                        <li *ngFor="let suggestion of googleAddressService.suggestions$ | async; let i = index"
                                            (mousedown)="$event.preventDefault()"
                                            (click)="onPlaceSelected(suggestion, 'address')"
                                            [class.highlighted]="i === highlightedIndex">
                                            {{ suggestion.description }}
                                        </li>
                                    </ul>
                                </div>
                                <small class="field-error" *ngIf="touchedInvalid('address') && hasError('address', 'required')">Address is required.</small>
                                <small class="field-error" *ngIf="touchedInvalid('address') && hasError('address', 'maxlength')">Maximum 100 characters allowed.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="town">Town/City <span class="required-mark">*</span></label>
                                <div class="address-autocomplete-wrap">
                                    <input type="text" class="form-control" id="town" formControlName="town"
                                           placeholder="Town/City" autocomplete="off"
                                           [class.is-invalid]="touchedInvalid('town')"
                                           (keydown)="handleKeyDown($event, 'town')"
                                           (blur)="onAutocompleteBlur('town', $event)">
                                    <ul class="google-address-suggestions"
                                        *ngIf="activeAutocompleteField === 'town' && (googleAddressService.suggestions$ | async)?.length">
                                        <li *ngFor="let suggestion of googleAddressService.suggestions$ | async; let i = index"
                                            (mousedown)="$event.preventDefault()"
                                            (click)="onPlaceSelected(suggestion, 'town')"
                                            [class.highlighted]="i === highlightedIndex">
                                            {{ suggestion.description }}
                                        </li>
                                    </ul>
                                </div>
                                <small class="field-error" *ngIf="touchedInvalid('town')">Town/City is required.</small>
                            </div>
                            <div class="col-md-6">
                                <label for="state">State <span class="required-mark">*</span></label>
                                <div class="address-autocomplete-wrap">
                                    <input type="text" class="form-control" id="state" formControlName="state"
                                           placeholder="State" autocomplete="off"
                                           [class.is-invalid]="touchedInvalid('state')"
                                           (keydown)="handleKeyDown($event, 'state')"
                                           (blur)="onAutocompleteBlur('state', $event)">
                                    <ul class="google-address-suggestions"
                                        *ngIf="activeAutocompleteField === 'state' && (googleAddressService.suggestions$ | async)?.length">
                                        <li *ngFor="let suggestion of googleAddressService.suggestions$ | async; let i = index"
                                            (mousedown)="$event.preventDefault()"
                                            (click)="onPlaceSelected(suggestion, 'state')"
                                            [class.highlighted]="i === highlightedIndex">
                                            {{ suggestion.description }}
                                        </li>
                                    </ul>
                                </div>
                                <small class="field-error" *ngIf="touchedInvalid('state')">State is required.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" formControlName="country"
                                       readonly>
                                <small class="field-hint">Deliveries are currently available in Pakistan only.</small>
                            </div>
                            <div class="col-md-6">
                                <label for="postalcode">Postal Code <span class="optional-mark">(optional)</span></label>
                                <input type="text" class="form-control" id="postalcode" formControlName="postalcode"
                                       placeholder="Postal Code">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-solid" [disabled]="saving || loading">
                            <i class="fa" [ngClass]="saving ? 'fa-spinner fa-spin me-2' : 'fa-save me-2'" aria-hidden="true"></i>
                            {{ saving ? 'Saving…' : 'Save profile' }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
