<div class="product-pagination" *ngIf="products.length">
  <div class="product-pagination__inner">
    <nav class="product-pagination__controls" aria-label="Page navigation" *ngIf="paginate.pages?.length">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled: paginate.currentPage === 1}">
          <a href="javascript:void(0)" class="page-link" (click)="pageSet(paginate.currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of paginate.pages" [class.active]="paginate.currentPage == page">
          <a href="javascript:void(0)" class="page-link" (click)="pageSet(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{ disabled: paginate.currentPage == paginate.totalPages }">
          <a href="javascript:void(0)" class="page-link" (click)="pageSet(paginate.currentPage + 1)" aria-label="Next">
            <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
    <p class="product-pagination__summary" *ngIf="summaryText">{{ summaryText }}</p>
  </div>
</div>
