 .main-navbar .nav-menu > li > a{
    padding-top: 0 !important;
    padding-bottom: 0 !important; 
    color: black !important;
}
//  .main-navbar .nav-menu > li:hover{
//     background: black !important;
//  }
//  .main-navbar .nav-menu > li:hover > a{
//     padding-top: 0 !important;
//     padding-bottom: 0 !important; 
//     color: rgb(255, 255, 255) !important;
// }