<div class="main-navbar store-nav">
  <div
    class="mega-menu-backdrop"
    *ngIf="activeMegaMenu"
    (mousedown)="onMegaBackdropClick($event)"
    aria-hidden="true"
  ></div>
  <div id="mainnav">
    <div class="toggle-nav" (click)="mainMenuToggle()">
      <i class="fa fa-bars sidebar-bar"></i>
    </div>
    <ul class="nav-menu" [class.opennav]="navServices?.mainMenuToggle">

      <li class="back-btn">
        <div class="mobile-back text-end" (click)="mainMenuToggle()">
          <span>Back</span>
          <i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
        </div>
      </li>

      <li
        *ngFor="let menuItem of menuItems"
        [class.mega-menu]="menuItem.megaMenu"
        [class.mega-menu-open]="menuItem.megaMenu && isMegaOpen(menuItem)"
        [class.mega-menu--compact]="menuItem.megaMenu && isCompactDropdown(menuItem)"
      >
        <!-- Home, Shop, etc. -->
        <ng-container *ngIf="!menuItem.megaMenu">
          <a
            href="javascript:void(0)"
            class="nav-link"
            *ngIf="menuItem.type === 'sub'"
            (click)="toggletNavActive(menuItem)"
          >
            <ng-container *ngIf="useTranslate(menuItem); else rawTopTitle">{{ menuItem.title | translate }}</ng-container>
            <ng-template #rawTopTitle>{{ menuLabel(menuItem) }}</ng-template>
            <span class="sub-arrow" *ngIf="menuItem.children"></span>
          </a>
          <a
            [routerLink]="menuItem.path"
            [queryParams]="menuItem.queryParams || null"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
            *ngIf="menuItem.type === 'link'"
          >
            <ng-container *ngIf="useTranslate(menuItem); else rawLinkTitle">{{ menuItem.title | translate }}</ng-container>
            <ng-template #rawLinkTitle>{{ menuLabel(menuItem) }}</ng-template>
          </a>
        </ng-container>

        <!-- Category dropdowns: trigger + panel share one hover zone -->
        <div
          *ngIf="menuItem.megaMenu"
          class="mega-menu-hover-zone"
          (mouseenter)="onHoverZoneEnter(menuItem)"
          (mouseleave)="onHoverZoneLeave(menuItem, $event)"
        >
          <a
            href="javascript:void(0)"
            class="nav-link nav-link--has-dropdown"
            role="button"
            [attr.aria-expanded]="isMegaOpen(menuItem)"
            [attr.aria-haspopup]="true"
            [attr.aria-controls]="panelId(menuItem)"
            (click)="onTriggerClick(menuItem, $event)"
            (keydown)="onTriggerKeydown(menuItem, $event)"
          >
            <span class="nav-link__text">{{ menuLabel(menuItem) }}</span>
            <i
              class="fa nav-caret"
              [class.fa-angle-down]="!isMegaOpen(menuItem)"
              [class.fa-angle-up]="isMegaOpen(menuItem)"
              *ngIf="menuItem.children?.length"
              aria-hidden="true"
            ></i>
          </a>

          <!-- Compact: single list under the nav item -->
          <div
            class="store-mega-panel store-mega-panel--compact"
            *ngIf="menuItem.children?.length && isCompactDropdown(menuItem)"
            [id]="panelId(menuItem)"
            [class.is-open]="isMegaOpen(menuItem)"
            role="menu"
            [attr.aria-label]="menuLabel(menuItem) + ' menu'"
          >
            <div class="store-mega-panel__inner">
              <ul class="store-mega-panel__compact-list">
                <li *ngFor="let link of getCompactLinks(menuItem); let first = first" role="none">
                  <a
                    [routerLink]="link.path"
                    [queryParams]="link.queryParams || null"
                    routerLinkActive="active"
                    class="store-mega-panel__link"
                    [class.store-mega-panel__link--primary]="first"
                    role="menuitem"
                    (click)="onCompactLinkClick()"
                  >
                    <span class="store-mega-panel__link-text">{{ menuLabel(link) }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Mega: multi-column only when enough content -->
          <div
            class="store-mega-panel store-mega-panel--wide"
            *ngIf="menuItem.children?.length && !isCompactDropdown(menuItem)"
            [id]="panelId(menuItem)"
            [class.is-open]="isMegaOpen(menuItem)"
            role="region"
            [attr.aria-label]="menuLabel(menuItem) + ' menu'"
          >
            <div class="store-mega-panel__inner">
              <div class="store-mega-panel__grid" [attr.data-cols]="getVisibleColumns(menuItem).length">
                <div
                  *ngFor="let column of getVisibleColumns(menuItem)"
                  class="store-mega-panel__col"
                  [class.store-mega-panel__col--shop-all]="column.megaColumnType === 'shop-all'"
                  [class.store-mega-panel__col--categories]="column.megaColumnType === 'categories'"
                  [class.store-mega-panel__col--popular]="column.megaColumnType === 'popular'"
                >
                  <h6 class="store-mega-panel__heading">
                    {{ menuLabel(column) }}
                    <span
                      class="store-mega-panel__loading"
                      *ngIf="column.megaColumnType === 'popular' && popularProductsLoading"
                    >...</span>
                  </h6>
                  <ul
                    class="store-mega-panel__links"
                    *ngIf="column.children?.length"
                    [class.store-mega-panel__links--grid]="column.megaColumnType === 'popular'"
                  >
                    <li *ngFor="let link of column.children">
                      <a
                        [routerLink]="link.path"
                        [queryParams]="link.queryParams || null"
                        routerLinkActive="active"
                        class="store-mega-panel__link"
                        [class.store-mega-panel__link--primary]="column.megaColumnType === 'shop-all'"
                        [class.store-mega-panel__link--product]="column.megaColumnType === 'popular'"
                        (click)="onMegaLinkClick()"
                      >
                        <span class="store-mega-panel__link-text">{{ menuLabel(link) }}</span>
                        <i
                          class="fa fa-angle-right store-mega-panel__chevron"
                          *ngIf="column.megaColumnType !== 'popular'"
                          aria-hidden="true"
                        ></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mobile accordion (mega menus only) -->
        <ul
          class="nav-submenu nav-submenu--accordion"
          [class.opensubmenu]="menuItem.active"
          *ngIf="menuItem.megaMenu && menuItem.children"
        >
          <li *ngFor="let column of getMobileColumns(menuItem)" class="nav-submenu__group">
            <a
              href="javascript:void(0)"
              class="nav-submenu__heading"
              *ngIf="column.type === 'sub'"
              (click)="toggletNavActive(column)"
            >
              {{ menuLabel(column) }}
              <span class="sub-arrow" *ngIf="column.children?.length"></span>
            </a>

            <ul
              class="nav-sub-childmenu"
              [class.opensubchild]="column.active"
              [class.nav-sub-childmenu--grid]="column.megaColumnType === 'popular'"
              *ngIf="column.children?.length"
            >
              <li *ngFor="let link of column.children">
                <a
                  [routerLink]="link.path"
                  [queryParams]="link.queryParams || null"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  *ngIf="link.type === 'link'"
                  (click)="onMegaLinkClick()"
                  class="nav-submenu__link"
                  [class.nav-submenu__link--featured]="column.megaColumnType === 'shop-all'"
                >
                  {{ menuLabel(link) }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
